:root{
    --color1: rgb(250, 66, 56);
    --color2: rgb(0,173,153);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

main{
    width: 100%;
    min-height: 90vh;
}

.content-main{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fas{
    color: var(--color1);
}

.band{
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px inset white;
    text-align: center;

    
}

.bandBanner{
    width: 50vw; /* width of container */
    height: 24.2vh; /* height of container */
    object-fit: cover;
    text-align: center;

}

.content-band{
    height: 90%;
    width: 90%;
}

.img-band{
    height: 45%;
    width: 100%;
    background-color: burlywood;

}

.name-band{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color2);
}

.name-band h3{
    color: whitesmoke;
}

.description-band{
    height: 22%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    border-bottom: 1px solid var(--color2);
}

.description-band p{
    color: white;
}

.info-band{
    height: 18%;
    width: 100%;
    display: flex;
}

.info-band p{
    color: white;
    margin-bottom: 0!important;
}