:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
  --color1: rgb(250, 66, 56);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body {
  min-height: 100%;
  overflow-x: hidden;

}

body::-webkit-scrollbar{
  width: 7px;
  background:#000000!important;
}
body::-webkit-scrollbar-thumb{
  background:var(--color1)!important;
}

.hero-section {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}   

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

#main_view {
  background-image: url(../assets/Lollapalooza.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  min-height: 80vh;
}

#img_view {
  height: 50vh;
}

#content_description {
  width: 30%;
  height: 100%;
  margin: 30px;
}

.name_genre {
  min-width: 50%;
  font-family: 'Gloria Hallelujah', cursive;
}

.div-img {
  align-items: center;
}

.description__view {
  font-family: 'Julius Sans One', sans-serif;
  background-color: rgba(255, 255, 255, 0.445);
  font-style: italic;
  font-weight: bolder!important;
  padding: 1vh 1vw;
  border-radius: 3%;
}

.bg_image_view {
  margin-top: 50px;
  margin-bottom: -4vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5%;
  min-height: 40vh;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  width: 80%;
  height: 40vh;
}

@media(min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 600px) {
  .bg_image_view {
    height: 20vh;
  }
}

@media(min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 540px) {
  #content_description {
    width: 70%;
    height: 50%;
    margin: unset;
  }
  .div-img {
    align-items: unset !important;
  }
  .bg_image_view {
    margin-bottom: 0;
    background-size: cover;
    background-position: center;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    width: 80%;
    height: 40vh;
  }
  
  #main_view {
    min-height: 100vh;
  }
}

.card {
  list-style: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0)!important;
  border: none!important;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.card__heading {
  color: black;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  font-size: 1.9rem;
  line-height: 1.4;
  word-spacing: 100vw;
}

/* Footer */

#up {
  height: 35vh;
  background-color: black;
  display: flex;
  color: white;
}

#up>div {
  width: 100vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.upBlock>h3 {
  margin-top: 1.5rem;
}

.upBlock>p {
  margin: 0.4rem;
}

.upBlock4>h3 {
  margin-top: 1.5rem;
}

input[type=text] {
  margin-top: 0.5rem;
  width: 70%;
}

.btn-newsLetter {
  width: 50%;
  margin: 0.5rem;
  padding: 0.7rem;
  border-radius: 40%;
  -webkit-border-radius: 4;
}

#down {
  height: 15vh;
  border-top: 1px solid rgb(66, 93, 110);
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-family: var(--bs-font-sans-serif);
}

a:hover {
  color: white;
}

#down p {
  margin: 0;
  text-align: center;
}

.ancle {
  color: white;
  text-decoration: none;
  font-family: var(--bs-font-sans-serif);
}

.ancle:hover {
  color: white;
}

#button {
  width: 50%;
  margin: 0.5rem;
  padding: 0.7rem;
  border-radius: 40%;
  -webkit-border-radius: 4;
}