header{
    height: 10vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 3;
}

.content-header{
    height: 100%;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.offcanvas-body{
    z-index: 1;
}

#imgHeader{
    height: 8vh;
}


.links{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.links a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.search{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logOut{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-top: 1px solid white;
}

.logOut a{
    color: var(--color1);
}

.fa-circle{
    color: var(--color1);
}

.offcanvas-header{
    border-bottom: 1px solid white;
}

.fa-ellipsis-h{
    color: var(--color1);
}
.offcanvas{
    width: 10vw!important;
}

.offcanvas{
    margin: 0 auto;
    width: 70vw!important;
}

/* -------------------DESKTOP */


.links-desktop{
    width: 60%;
    height: 100%;
}

.content-links{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.content-links a{
    text-decoration: none;
    color: white;
}

.login-user{
    display: flex;
    width: 20%;
    align-items: center;
    
}

.login-user p{
    margin-bottom: 0!important;
}

.user-icon{
    width: 10%;
}

@media (min-width: 750px) {

    .btn-canvas{
        display: none!important;
    }
    .login-user{
        display: flex;
    }

}

@media(max-width: 751px){
    .links-desktop{
        display: none;
    }

  
}