:root{
    --color1: rgb(250, 66, 56);
    --color2: rgb(0,173,153);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body::-webkit-scrollbar{
    width: 7px;
    background:#000000!important;
}
body::-webkit-scrollbar-thumb{
    background:var(--color1)!important;
}

.dropdown-menu::-webkit-scrollbar{
    width: 7px;
    background:#000000!important;
}

.dropdown-menu::-webkit-scrollbar-thumb{
    background:var(--color2)!important;
}
p{
    margin-bottom: 0!important;
}

.text-bold{
    font-weight: bold;
}

#tittle-color{
    font-size: 1.6rem;
    text-align: center;
    color: var(--color2)!important;

}


html{
    overflow-x: hidden!important;
}

main{
    width: 100%;
    min-height: 90vh;
}

.content-main{
    width: 100%;
    min-height: 90vh;
}

.filter{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tittle-filter{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    letter-spacing: 1px;
}
.buscador{
    margin-top: 5vh;
    margin-bottom: 13vh;
}

.tituloTienda{
    margin-top: 15vh;
}


.tittle-filter h5{
    font-size: 1.4rem;
}

.div-products{
    min-height: 70vh;
    width: 100%;
    padding: 10px;

}

.content-products{
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-shop{
    height: 33vh;
    width: 90vw;
    padding: 5px;
    border-radius: 10px;
    transition: transform 1s;
}
.card-shop:hover {
    transform: translate(20px, 20px);
  }

.content-card{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    padding: 10px;
}

.img-card{
    height: 100%;
    width: 45%;
}

.img-card img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px 5px 5px 20px;
}

.id-card{
    position: absolute;
    left: 14%;
}

.info-card{
    height: 100%;
    width: 50%;
    background: linear-gradient( 0.25turn, #00af9a, #ff4034 );
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-left: 1px inset black;
    box-shadow: rgba(99, 18, 18, 0.25) 0px 50px 100px -20px, rgba(95, 2, 2, 0.3) 0px 30px 60px -30px, rgba(59, 136, 212, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px 30px 30px 5px;
    color: #000000;
    
}

.tittle-card{
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 3px var(--color2);
    
}

.tittle-card h3{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Nosifer', cursive;
}


.description-card p{
    font-size: .8rem;
}

.amount-card{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
}


.stock-card{
    height: 7vh;
    display: flex;
    justify-content: center;
}

.buttons-card{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons-card button{
    height: 4vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    font-size: .8rem;
}

.fa-store{
    color: var(--color1);
}


.notFound{
    height: 40%;
    width: 80%;

}

.fas{
    color: var(--color1);
}

.dropdown-menu{
    overflow-y: auto!important;
    max-height: 35vh!important;
}

.dropdown-menu li{
    padding: 5px;
}

.dropdown-menu li:hover{
    background-color: var(--color2);
}

.dropdown-menu a:hover{
    background-color: var(--color2,0.4);
}

.img-bcc{
    height: 90vh;
    width: 100%;
    background-color: tomato;
    background-image: url("https://d2r9epyceweg5n.cloudfront.net/stores/698/172/themes/idea/slide-1598472716386-5203505282-85af14395ae1395d568e090c2bdace341598472718-1920-1920.jpg?802389227");
    background-position: center;
    background-size: cover;
}

.button-img{
    height: 96%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.div-click{
    width: 300px;
    height: 65px;
    margin-right: .7rem;
    cursor: pointer;
    margin-bottom: 2.7rem;

}


@media (min-width: 550px) {
    .card-shop{
        max-width: 450px;
        height: 25vh;
    }
}

@media(max-width: 550px){
    .card-shop:hover {
        transform: none;
    }
}
