*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper{
    min-height: 100vh;
    width: 375px;
    background-color: blanchedalmond;
}

/*------ CAMBIOS QUE HIZO UKO --------- */


body{
    max-width: 100vw;
    
}
.wrapper{
    min-height: 100%;
    width: 100%;   
}
#filtros{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
#filtros>div{
    display: flex;
    flex-direction: row;
    height: 25vh;
}
.labels,.selects{
    width:50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.labels>label,#filtros>button{
    background-color: white;
    font-weight:600;
    color: black;
    border-radius: 1rem;
    padding: 1vh 2vw;
}
.selects>select{
    width: 30vw;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 1rem;
    padding: 1vh 2vw;
}
#filtros>button{margin-bottom: 1vh;}



/*
#filtros{
    background-color: rgb(20, 20, 20);
}
#filtros>*{
    color: rgb(255, 246, 232);
}
#filtros,#filtros>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filtroIndividual{
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw;
}
.filtroIndividual>label,#filtros>button{
    background-color: white;
    border-radius: 2rem;
    border-style: none;
    color: black;
    font-weight: 600;
    padding: 1vh 2vw;
    margin-bottom: 1.5vh;
}
.filtroIndividual>select{
    height: 5vh;
    width: 30vw;
    background-color: transparent;
    border:2px solid white;
    border-radius: 1rem;
    padding: 0 1vw;
    color: snow;
}
.filtroIndividual>select>option{color:black;}*/